data type conversion

In [2]:
number = int(15.36)
print(number)
# float can be converted to int

15

In [3]:
print(float(number))
# int can be converted to float

15.0

In [4]:
print(str(number))
# float and integer can be converted to string

15

In [5]:
print(float('45'))
# str cannot be converted to float or int except the string value is a full digit value

45.0

# input function

In [11]:
name = input('please enter your name')

please enter your name Jessica

In [12]:
print(name)

Jessica

In [13]:
Salary = float(input('provide your net salary:'))

provide your net salary: 35000.58

In [14]:
print(Salary)

35000.58

# OPERATORS

### arithmetic operators
### +: addition
### -: subtraction
### *: multiplication
### /: division
### %: modulus (remainder)
### //: integer division
### **: exponential (raise to power)

In [27]:
num1 = int(input('Enter number one value:'))
num2 = int(input('Enter number two value:'))
print(f'{num1} + {num2} = {num1 + num2}')
print(f'{num1} - {num2} = {num1 - num2}')
print(f'{num1} * {num2} = {num1 * num2}')
print(f'{num1} / {num2} = {num1 / num2}')
print(f'{num1} % {num2} = {num1 % num2}')
print(f'{num1} // {num2} = {num1 // num2}')
print(f'{num1} ** {num2} = {num1 ** num2}')

Enter number one value: 45
Enter number two value: 6

45 + 6 = 51
45 - 6 = 39
45 * 6 = 270
45 / 6 = 7.5
45 % 6 = 3
45 // 6 = 7
45 ** 6 = 8303765625

# comparison operators

In [28]:
### >: Greater than
### <: Less than
### >=: Greater than or equal to
### <= Less than or equal to
### ==: Equal to
### !=: Not equal to

In [29]:
num1 = int(input('Enter number one value:'))
num2 = int(input('Enter number two value:'))
print(f'{num1} > {num2} = {num1 > num2}')
print(f'{num1} < {num2} = {num1 < num2}')
print(f'{num1} >= {num2} = {num1 >= num2}')
print(f'{num1} <= {num2} = {num1 <= num2}')
print(f'{num1} == {num2} = {num1 == num2}')
print(f'{num1} != {num2} = {num1 != num2}')

Enter number one value: 100
Enter number two value: 95

100 > 95 = True
100 < 95 = False
100 >= 95 = True
100 <= 95 = False
100 == 95 = False
100 != 95 = True

In [30]:
# LOGICAL OPERATORS
# AND, OR, NOT

In [31]:
print(num1 == num2 or num1 > num2)
print(num1 != num2 and num1 > num2)
print(not num1)

True
True
False

In [32]:
# IDENTITY OPERATOR
## IS, IS NOT

In [33]:
print(num1 is num2)
print(num1 is not num2)

False
True

In [34]:
# MEMBERSHIP OPERATOR
# IN, NOT IN

In [35]:
word = 'python'
print('P' in word)
print('p' not in word)

False
False

In [36]:
# PROBLEM: PROFIT CALCULATION
# MR A BOUGHT N PENS FOR N PRICE AND SOLD EACH PEN AT P PRICE CALCULATE THE PROFIT OF MR A

In [37]:
no_pens = int(input('Enter numbers of pens bought:'))
costprice = float(input('Enter the cost price for the numbers of pen bought:'))
sp_for_each_pen = float(input('Enter the selling price for each pen:'))
total_selling_price = no_pens * sp_for_each_pen
profit = total_selling_price - costprice
print(f'The profit MR.A on {no_pens} pens bought is {profit}')

Enter numbers of pens bought: 1000
Enter the cost price for the numbers of pen bought: 4000
Enter the selling price for each pen: 250

The profit MR.A on 1000 pens bought is 246000.0

# ASSIGNMENT

In [1]:
### A rectangular cake is cut into 12 square slices with equal size. if the short side of the cake is 3cm, what is the length of the long side

In [15]:
short_side = float(input('enter length of short side:'))
num_slices = int(input('enter number of slices:'))
side_length_of_slice = short_side
total_area = num_slices * (side_length_of_slice * 2)
long_side = total_area / short_side
print(f'Length of long side {long_side}')

enter length of short side: 3
enter number of slices: 12

Length of long side 24.0

In [16]:
### 2; Michael has saved $15. he wants to buy a video game that costs $42. how much more money does he need to save?

In [17]:
savings = int(input('enter amount saved:'))
cost_of_video_game = float(input('enter the cost for the video game:'))
final_savings = cost_of_video_game - savings
print(f'final savings {final_savings}')

enter amount saved: 15
enter the cost for the video game: 42

final savings 27.0

In [18]:
### 3; A bag contains 3 red marbles, 5 blue marbles, and 2 green marbles. what is the total number of marbles in the bag?

In [21]:
no_of_red_marbles = int(input('enter number of red marbles:'))
no_of_blue_marbles = int(input('enter number of blue marbles:'))
no_of_green_marbles = int(input('enter number of green marbles:'))
total_no_of_marbles = no_of_red_marbles + no_of_blue_marbles + no_of_green_marbles
print(f'total no of marbles in bag {total_no_of_marbles}')

enter number of red marbles: 3
enter number of blue marbles: 5
enter number of green marbles: 2

total no of marbles in bag 10

In [22]:
### 4; A train leaves station A at 9:00 am and arrives at station B 180km away at 1:00 pm. how many hours did the train travel

In [38]:
time_train_leaves = int(input('enter departure time:'))
time_train_arrives = int(input("enter arrival time:"))
time_spent_on_travel = time_train_arrives - time_train_leaves
print(f'hours train travelled {time_spent_on_travel}')

enter departure time: 9
enter arrival time: 13

hours train travelled 4